@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Oswald:wght@300;400;700&display=swap');
/*
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
*/
/*********** 공통사항 ************/
html, body {font-family: 'Lato', sans-serif; height: 5000px;}


/*********** .header ************/
.header {width: 100%; position: fixed; z-index: 999; padding: 0 2rem; color: #777; border-bottom: 1px solid #ddd; background-color: #fff;}
.header > .logo {float: left; width: 200px;}
.header > .sns-wrap {float: right; padding: 1.125rem 0 0.5rem 1rem;}
.header > .navi-wrap {float: right; font-size: 0.875rem;}
.header > ul > li {float: left; cursor: pointer;}
.header > .navi-wrap > li {width: 100px; text-align: center; padding: 1.625rem 0; border-left: 1px solid #ddd; transition: all 0.5s; position: relative;}
.header > .navi-wrap > li.active {color: #444;}
.header > .navi-wrap > li:hover {background-color: #f30; color: #fff;}
.header .subs {position: absolute; width: 220px; top: 4.3125rem; background-color: #f20; color: #fff; display: none;}
.header .subs > li {padding: 0.75rem; text-align: left; cursor: pointer;}
.header .subs > li:hover {background-color: #af1902;}

.header > .sns-wrap > li {width: 2rem; height: 2rem; line-height: 2rem; border-radius: 50%; text-align: center; transition: all 0.5s;}
.header > .sns-wrap > .facebook-icon:hover {background-color: #1f59b6; color: #fff;}
.header > .sns-wrap > .insta-icon:hover {background-color: #b6751f; color: #fff;}
.header > .sns-wrap > .mail-icon:hover {background-color: #1b9b41; color: #fff;}

.header > .navi-bars {width: 84px; height: 88px; position: absolute; right: 10rem; cursor: pointer;}
.header .bar {width: 36px; height: 3px; background-color: #999; position: absolute; transform-origin: center; animation-fill-mode: forwards; animation-duration: 1s;}
.header .bar1 {top: 33px; left: 24px;}
.header .bar2 {top: 43px; left: 24px;}
.header .bar3 {top: 53px; left: 24px;}
.header .navi-bars.default > .bar1 {animation-name: bar1-rev;}
.header .navi-bars.default > .bar2 {animation-name: bar2-rev;}
.header .navi-bars.default > .bar3 {animation-name: bar3-rev;}
.header .navi-bars.active > .bar1 {animation-name: bar1;}
.header .navi-bars.active > .bar2 {animation-name: bar2;}
.header .navi-bars.active > .bar3 {animation-name: bar3;}

@keyframes bar1 {
	0% {background-color: #999;}
	40% {top: 43px; transform: rotate(0deg)}
	100% {top: 43px; transform: rotate(-225deg); background-color: #fff;}
}
@keyframes bar2 {
	0% {}
	40% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes bar3 {
	0% {background-color: #999;}
	40% {top: 43px; transform: rotate(0deg);}
	100% {top: 43px; transform: rotate(-135deg); background-color: #fff;}
}

@keyframes bar1-rev {
	0% {top: 43px; transform: rotate(-225deg); background-color: #fff;}
	60% {top: 43px; transform: rotate(0deg);}
	100% {top: 33px; transform: rotate(0deg); background-color: #999;}
}
@keyframes bar2-rev {
	0% {opacity: 0;}
	60% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes bar3-rev {
	0% {top: 43px; transform: rotate(-135deg); background-color: #fff;}
	60% {top: 43px; transform: rotate(0deg);}
	100% {top: 53px; transform: rotate(0deg); background-color: #999;}
}

.header > .fix-wrap {width: 100%; height: 100vh; position: absolute; top: 0; left: 0; background-color: rgba(0,0,0,0); display: none; transition: all 0.5s; overflow: hidden;}
.header > .fix-wrap.active {background-color: rgba(0,0,0,0.5);}

.header > .fix-wrap > div {width: 350px; height: 100%; position: absolute; right: 0; background-color: #000; color: #fff; transform: translateX(350px); transition: all 0.5s;}
.header > .fix-wrap > div.active {transform: translateX(0);}

.header .navi-wrap-mo {margin-top: 100px; cursor: pointer;}
.header .navi-wrap-mo > li:not(.subs-mo) {padding: 1rem 3rem; border-bottom: 1px solid #444;}
.header .navi-child-mo > i {float: right; transition: all 0.5s; transform: rotate(0);}
.header .navi-child-mo > i.active {transform: rotate(180deg);}
.header .subs-mo {display: none;}
.header .subs-mo li {padding: 1rem 3rem; border-bottom: 1px solid #444;}
.header .subs-mo li::before {display: inline-block; content: "-"; margin-right: 1rem;}
.header .navi-wrap-mo > li:not(.subs-mo):hover {background-color: #555;} 
.header .subs-mo li:hover {background-color: #555;} 

/*********** 반응형 ************/
@media screen and (max-width: 991px) {
	.header > .navi-wrap {display: none;}
	.header > .sns-wrap {padding: 1.75rem 0 0.5rem 1rem; height: 88px; border-left: 1px solid #ddd;}
	.header > .logo {width: 260px;}
}