@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Oswald:wght@300;400;700&display=swap');
/*
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
*/
/*********** 공통사항 ************/
html, body {font-family: 'Lato', sans-serif; height: 5000px;}
.red-dot {color: #f30;}
.wrapper-small {padding: 7rem 10%; text-align: center;}
.wrapper-small .title {font-size: 3rem; font-family: 'Oswald', sans-serif;}
.wrapper-small .desc {width: 50%; margin: 2rem auto;}


/*********** .header ************/
.header {width: 100%; position: fixed; z-index: 999; padding: 0 2rem; color: #777; border-bottom: 1px solid #ddd; background-color: #fff; top: 0;}
.header > .logo {float: left; width: 200px;}
.header > .sns-wrap {float: right; padding: 1.125rem 0 0.5rem 1rem;}
.header > .navi-wrap {float: right; font-size: 0.875rem;}
.header > ul > li {float: left; cursor: pointer;}
.header > .navi-wrap > li {width: 100px; text-align: center; padding: 1.625rem 0; border-left: 1px solid #ddd; transition: all 0.5s; position: relative;}
.header > .navi-wrap > li.active {color: #444;}
.header > .navi-wrap > li:hover {background-color: #f30; color: #fff;}
.header .subs {position: absolute; width: 220px; top: 4.3125rem; background-color: #f20; color: #fff; display: none;}
.header .subs > li {padding: 0.75rem; text-align: left; cursor: pointer;}
.header .subs > li:hover {background-color: #af1902;}

.header > .sns-wrap > li {width: 2rem; height: 2rem; line-height: 2rem; border-radius: 50%; text-align: center; transition: all 0.5s;}
.header > .sns-wrap > .facebook-icon:hover {background-color: #1f59b6; color: #fff;}
.header > .sns-wrap > .insta-icon:hover {background-color: #b6751f; color: #fff;}
.header > .sns-wrap > .mail-icon:hover {background-color: #1b9b41; color: #fff;}

.header > .navi-bars {width: 84px; height: 88px; position: absolute; right: 8rem; cursor: pointer; display: none;}
.header .bar {width: 36px; height: 3px; background-color: #999; position: absolute; transform-origin: center; animation-fill-mode: forwards; animation-duration: 1s;}
.header .bar1 {top: 33px; left: 24px;}
.header .bar2 {top: 43px; left: 24px;}
.header .bar3 {top: 53px; left: 24px;}
.header .navi-bars.default > .bar1 {animation-name: bar1-rev;}
.header .navi-bars.default > .bar2 {animation-name: bar2-rev;}
.header .navi-bars.default > .bar3 {animation-name: bar3-rev;}
.header .navi-bars.active > .bar1 {animation-name: bar1;}
.header .navi-bars.active > .bar2 {animation-name: bar2;}
.header .navi-bars.active > .bar3 {animation-name: bar3;}

@keyframes bar1 {
	0% {background-color: #999;}
	40% {top: 43px; transform: rotate(0deg)}
	100% {top: 43px; transform: rotate(-225deg); background-color: #fff;}
}
@keyframes bar2 {
	0% {}
	40% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes bar3 {
	0% {background-color: #999;}
	40% {top: 43px; transform: rotate(0deg);}
	100% {top: 43px; transform: rotate(-135deg); background-color: #fff;}
}

@keyframes bar1-rev {
	0% {top: 43px; transform: rotate(-225deg); background-color: #fff;}
	60% {top: 43px; transform: rotate(0deg);}
	100% {top: 33px; transform: rotate(0deg); background-color: #999;}
}
@keyframes bar2-rev {
	0% {opacity: 0;}
	60% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes bar3-rev {
	0% {top: 43px; transform: rotate(-135deg); background-color: #fff;}
	60% {top: 43px; transform: rotate(0deg);}
	100% {top: 53px; transform: rotate(0deg); background-color: #999;}
}

.header > .fix-wrap {width: 100%; height: 100vh; position: absolute; top: 0; left: 0; background-color: rgba(0,0,0,0); display: none; transition: all 0.5s; overflow: hidden;}
.header > .fix-wrap.active {background-color: rgba(0,0,0,0.5);}

.header > .fix-wrap > div {width: 350px; height: 100%; position: absolute; right: 0; background-color: #000; color: #fff; transform: translateX(350px); transition: all 0.5s;}
.header > .fix-wrap > div.active {transform: translateX(0);}

.header .navi-wrap-mo {margin-top: 100px; cursor: pointer;}
.header .navi-wrap-mo > li:not(.subs-mo) {padding: 1rem 3rem; border-bottom: 1px solid #444;}
.header .navi-child-mo > i {float: right; transition: all 0.5s; transform: rotate(0);}
.header .navi-child-mo > i.active {transform: rotate(180deg);}
.header .subs-mo {display: none;}
.header .subs-mo li {padding: 1rem 3rem; border-bottom: 1px solid #444;}
.header .subs-mo li::before {display: inline-block; content: "-"; margin-right: 1rem;}
.header .navi-wrap-mo > li:not(.subs-mo):hover {background-color: #555;} 
.header .subs-mo li:hover {background-color: #555;}

/*********** main-wrap ************/
.main-wrap {overflow: hidden; position: relative;}
.main-wrap > .slide {position: absolute; width: 100%;}
.main-wrap > .slide > .mask {width: 100%; height: 100%; position: absolute; background-color: #000; opacity: 0.3; top: 0;}
.main-wrap > .bt {color: #fff; font-size: 2rem; line-height: 56px; width: 60px; height: 60px; text-align: center; border: 2px solid #fff; position: absolute; top: calc(50% - 30px); cursor: pointer; z-index: 900;}
.main-wrap > .bt.bt-prev {left: 1rem;}
.main-wrap > .bt.bt-next {right: 1rem;}

.main-wrap > .pagers {position: absolute; z-index: 900; bottom: 1rem; left: 50%; transform: translateX(-50%);}
.main-wrap .pager {font-size: 1rem; color: #fff; cursor: pointer;}
.main-wrap .pager::before {content: "○";}
.main-wrap .pager.active::before {content: "●";}

.main-wrap .slide-content {position: absolute; top: 50%; transform: translate(0, -50%); color: #fff;}
.main-wrap .slide-content.type-c {width: 80%; left: 10%; text-align: center;}
.main-wrap .slide-content.type-l {left: 10%;}
.main-wrap .slide-content > .title {font-size: 4rem; line-height: 1.1; font-family: 'Oswald', sans-serif; text-shadow: 1px 1px 2px rgba(0,0,0,0.4); margin-bottom: 1.25rem; transition: transform 0.5s; transform: translateX(-2000px);}
.main-wrap .slide-content > .title > span {color: #f20;}
.main-wrap .slide-content > .desc {font-size: 2rem; font-weight: normal; margin-bottom: 1.25rem; transition: transform 0.5s; transform: translateX(2000px);}
.main-wrap .slide-content.type-l > .title {font-size: 3rem;}
.main-wrap .slide-content.type-l > .desc {font-size: 1.5rem;}
.main-wrap .slide-content > .bts > a {color: #fff; text-decoration: none; display: inline-block; font-size: 0.75rem; padding: 0.75rem; width: 120px; text-align: center; margin: 0.5rem; transition: transform 0.5s;}
.main-wrap .slide-content > .bts > a:nth-child(1) {transform: translateX(-2000px);}
.main-wrap .slide-content > .bts > a:nth-child(2) {transform: translateX(2000px);}
.main-wrap .slide-content > .bts > a.bt-ghost {border: 4px solid #fff; background-color: rgba(0,0,0,0.2); box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);}
.main-wrap .slide-content > .bts > a.bt-orange {background-color: #f30;}
.main-wrap .slide-content > .bts > a.bt-gray {background-color: #eee; color: #222;}

/*********** ad-wrap ************/
.ad-wrap {display: table; width: 100%;}
.ad-wrap > .ad {width: 33.3333%; padding: 4rem 2.5rem; color: #fff; display: table-cell; vertical-align: top;}
.ad-wrap > :nth-child(1) {background-color: #d63d2d;}
.ad-wrap > :nth-child(2) {background-color: #292929;}
.ad-wrap > :nth-child(3) {background-color: #3c3c3c;}
.ad-wrap .icon {float: left; width: 80px; height: 80px; border: 2px solid #fff; border-radius: 50%; font-size: 1.5rem; text-align: center; line-height: 76px; }
.ad-wrap .content {float: right; width: calc(100% - 100px);}
.ad-wrap .title {font-size: 1.5rem; font-family: 'Oswald', sans-serif; margin-bottom: 0.5rem;}
.ad-wrap .title > span {color: #f30;}
.ad-wrap .desc {line-height: 1.75rem;}

/*********** welcome-wrap ************/
.welcome-wrap {background: #000 url(../img/bg1.jpg) no-repeat center; color: #fff; background-attachment: fixed;}
.welcome-wrap .welcome {background-color: rgba(0,0,0,0.6);}
.welcome-wrap .bt-more {border: none; outline: none; background-color: #f30; padding: 1rem 2rem; color: inherit; transition: all 0.5s; cursor: pointer; text-align: center; position: relative;}
.welcome-wrap .bt-more > .fa {display: none; position: absolute; right: 1.5rem; top: 1.125rem;}
.welcome-wrap .bt-more:hover {padding-right: 3rem; background-color: #d30;}
.welcome-wrap .bt-more:hover > .fa {display: inline-block;}

/*********** class-wrap ************/
.class-items {padding: 0.5%; background-color: #111;}
.classes {width: 100%;}
.classes .class, 
.classes .class-sizer {float: left; width: 32.3333%; margin: 0.5%; overflow: hidden; position: relative; cursor: pointer;}
.classes .class img {position: relative; left: 50%; transform: translateX(-50%); opacity: 0.6; transition: all 0.5s;}
.classes .class .title {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff; font-family: 'Oswald', sans-serif; font-size: 1.5rem; transition: all 0.5s;}
.classes .class:hover > img {opacity: 1; transform: translateX(-50%) scale(1.1);}
.classes .class:hover > .title {opacity: 0;}






/*********** 반응형 ************/
@media screen and (max-width: 991px) {
	.header > .navi-wrap {display: none;}
	.header > .sns-wrap {padding: 1.75rem 0 0.5rem 0.25rem; height: 88px; border-left: 1px solid #ddd;}
	.header > .logo {width: 260px;}
	.header > .navi-bars {display: block;}
}

@media screen and (max-width: 767px) {
	.wrapper-small .desc {width: 100%;}

	.main-wrap .slide-content.type-l {left: 20%; width: 60%;}
	.main-wrap .slide-content > .title {font-size: 2rem;}
	.main-wrap .slide-content > .desc {font-size: 1rem;}
	.main-wrap .slide-content.type-l > .title {font-size: 1.5rem;}
	.main-wrap .slide-content.type-l > .desc {font-size: 0.875rem;}
	.ad-wrap {display: block;}
	.ad-wrap > .ad {width: 100%; display: block;}
	.classes .class, 
	.classes .class-sizer {width: 49%;}
}

@media screen and (max-width: 500px) {
	.header > .sns-wrap {display: none;}
	.header > .navi-bars {right: 0;}
	.classes .class, 
	.classes .class-sizer {width: 99%;}
}